@charset "UTF-8";

:root {
    --primary-color: #00916d;

}

html, body {
    font-size: 13px;
    font-family: "Roboto", sans-serif !important; 
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none; 
}
  
a {
    color: #333333; 
}

a:hover, a:focus, button:hover, button:focus, button:visited, form:hover, form:focus, input:hover, input:focus {
    outline: none;
    text-decoration: none; 
}
  
a:hover {
    color: #02916E; 
}

img {
    max-width: 100%;
    height: auto; 
}